<p>こんにちは、<%= @resource.email %> 様！</p>

<p>会員登録を完了するには、以下の認証番号を会員登録フォームの「メール認証番号確認」欄にご入力ください：</p>

<p><strong><%= @resource.confirmation_token %></strong></p>

<p>もし認証番号が届かない場合は、会員登録ページで「認証番号を再発行する」を再度クリックしてください。</p>
