<p>こんにちは、<%= @resource.email %> 様、</p>

<p>パスワード再設定のリクエストを受け付けました。</p>

<p>以下の認証番号（リセットトークン）を使用して、パスワード再設定を進めてください。</p>

<p><strong>認証番号: <%= @token %></strong></p>

<p>
  以下のリンクをクリックすると、認証番号入力ページに移動します：
  <%= link_to 'パスワード再設定', password_certification_url, style: "color: blue;" %>
</p>

<p>もしご自身でリクエストされていない場合は、このメールを破棄してください。</p>
